body{
    margin: 0;
    background-color: black;
}
.landing-section{
    background-image: url("../images/background.jpg"),linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.85));
    height: 95vh;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}
.netflix-logo{
    margin: 28px 0px;
    margin-left: 57px;
    height: 45px;
}
.sign-in{
    float: right;   
    margin: 28px 0px;
    margin-right: 50px;
    padding: 10px 20px;
    background-color: #E50914;
    border-radius: 5px;
    border: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

