body{
    margin: 0;
    background-color: black;
}
.landing-section{
    background-image: url("../images/background.jpg"),linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.85));
    height: 95vh;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}

